
--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.4.0
torchvision==0.19.0
--find-links https://shi-labs.com/natten/wheels/
natten==0.17.1+torch240cu121
numpy<2.0.0
gradio==3.50.2
matplotlib
plotly
Pillow
mediapipe
opencv-python-headless
scipy
trimesh
huggingface_hub
