numpy<2.0.0
trimesh
scikit-image
tensorboard
clean-fid
clip-anytorch
watchdog
einops
packaging
ninja
transformers
torchdiffeq
torchsde
k3d
plotly
libigl
opencv-python
mediapipe
diffusers
accelerate
pynput
gradio>=4.0
